body{
  background-color: #282c34;
  color: white;
  font-family: 'Creepster', cursive;
}

.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

#logo{
  max-width: 250px;
  display: block;
  margin: auto;
}

.card{
  max-width: 270px;
  margin: 20px;
  text-align: center;
  border-radius: 12px;
  background-color: #4c4e50;
  transition: 0.25s;
}

.card:hover{
  box-shadow: 0 4px 8px 0 rgb(90, 241, 97), 0 6px 20px 0 rgb(144, 246, 146);
  transition: 0.25s;
}

.card img{
  border-radius: 8px 8px 0 0;
  max-width: 270px;
}

.property-style{
  margin-top: -5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5px;
}

#page-flipper-container{
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.page-flipper{
  background-color: #4c4e50;
  color: white;
  border: none;
  border-radius: 12px;
  height: 4rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  transition: 0.25s;
  margin: 10px;
}

.page-flipper:hover{
  box-shadow: 0 4px 8px 0 rgb(90, 241, 97), 0 6px 20px 0 rgb(144, 246, 146);
  cursor: pointer;
  transition: 0.25s;
}

.status-icons{
  margin-right: 5px;
}

#left-arrow{
  margin-right: 5px;
}

#right-arrow{
  margin-left: 5px;
}



