body{
  background-color: #282c34;
  color: #2596be;
  font-family: 'Creepster', cursive;
}


.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

#logo{
  max-width: 250px;
  display: block;
  margin: auto;
}

@media screen {
  
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
  max-width: 270px;
  margin: 20px;
  text-align: center;
  border-radius: 12px;
  background-color: #4c4e50;
}

.card img{
  border-radius: 8px 8px 0 0;
  max-width: 270px;
}

h2{
}

.property-style{
  margin-top: -5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5px;
}



